@import 'styles/colours.scss';
@import 'styles/sizes.scss';

.button {
    color: white;
    border: 0px;
    border-radius: $tiny;
    padding: $medium $large;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;

    &.default {
        background-color: $accent;
        color: $white;

        &:hover {
            background-color: $accent-dark;
        }
    }
}