$primary: #547AA5;
$primary-dark: #456488;
$primary-light: #6386AD;

$secondary: #4F5165;
$secondary-dark: #414353;
$secondary-light: #5F6073;

$space: #293132;
$space-dark: #222929;
$space-light: #3C4344;

$rain: #474044;
$rain-dark: #3B3538;
$rain-light: #575155;

$accent: #50D8D7;
$accent-dark: #42B1B0;
$accent-light: #5FDBDA;

$white: #FFFFFF;