$baseSize: .25rem;

$tiny:    $baseSize * 1;
$small:   $baseSize * 2;
$medium:  $baseSize * 3;
$large:   $baseSize * 5;
$xlarge:  $baseSize * 8;  
$huge:    $baseSize * 13;
$massive: $baseSize * 21;  
$immense: $baseSize * 34;